<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031317474355-4t5h3b3qddqbjrpejbi33sdf279o5hr8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031317474355-4t5h3b3qddqbjrpejbi33sdf279o5hr8</string>
	<key>API_KEY</key>
	<string>AIzaSyB5Et5K5NZwi9LrFESQhsFUo1NjNyv1Ymw</string>
	<key>GCM_SENDER_ID</key>
	<string>1031317474355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.weatherService</string>
	<key>PROJECT_ID</key>
	<string>weatherservice-882a1</string>
	<key>STORAGE_BUCKET</key>
	<string>weatherservice-882a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031317474355:ios:e1b3d2aa18fabfb9972746</string>
</dict>
</plist>